$color-light-gray: #f7f7f7;
$color-gray: #999;
$color-dark-gray: #666;
$color-black: #333;
$color-violet: #A65CF0;
$color-orange: #FF862F;
$color-white: #fff;
$color-light-violet: #C998FB;
$color-dark-violet: #7033AC;